@import '../node_modules/bootstrap/scss/bootstrap.scss';

body, html {
  margin: 0;
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hero {
  // background-color: red;
  &-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  &-image {
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

#app {
  display: flex;
  flex-direction: column;
}

.loading-wrapper-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000040;
}
